<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <br>
    <br>
    <CENTER><h1>LPC COLOMBIA</h1></CENTER>
    <br>
    <br>
    <br>
    <center>
    <form action="/auth" method="POST">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Iniciar sesión</button>
    </form>
    </center>
</body>
</html>
