<div>
    <br>
    <br>
    <CENTER><h1>LPC COLOMBIA</h1></CENTER>
    <br>
    <br>
    <br>
  <center>
  <form action="/register" method="post">
    <label for="name">
      <i class="fas fa-user"></i>
    </label>
    <input type="text" name="name" placeholder="Name" id="name" required>
    <label for="email">
      <i class="fas fa-envelope"></i>
    </label>
    <input type="email" name="email" placeholder="Email" id="email" required>
    <label for="password">
      <i class="fas fa-lock"></i>
    </label>
    <input type="password" name="password" placeholder="Password" id="password" required>
    <input type="submit" value="Register">
  </form>
  </center>
</div>
